<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\TaskManagement\borrar\packages.config" />
  <repository path="..\TaskManagement\TaskManagement.Data.SqlServer\packages.config" />
  <repository path="..\TaskManagement\TaskManagement.Web.Api.Tests\packages.config" />
  <repository path="..\TaskManagement\TaskManagement.Web.Api\packages.config" />
  <repository path="..\TaskManagement\TaskManagement.Web.Client\packages.config" />
  <repository path="..\TaskManagement\TaskManagement.Web.Common\packages.config" />
</repositories>