<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Example of using a web API with ASP.NET.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div id="showItemMenu" class="float-left m-10px"></div>
        <div id="showDetailsItem"  class="float-left m-10px"></div>
        <div id="map" class="float-left m-10px position-relative">
            
        </div>
        <div class="clear-fix"></div>
    </section>


</div>
